@import "tailwindcss";



@theme {

}

@layer components{

}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación cuando cambia el bullet/slide */
@layer utilities {
  .animate-fadeUp {
    animation: fadeUp 420ms ease both;
  }
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



/* ===== Bullets tipo píldora (como la foto) ===== */
.prog-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 18px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
}

.prog-swiper .swiper-pagination-bullet.prog-bullet {
  width: 8px !important;
  height: 8px !important;
  opacity: 1 !important;
  background: #0000003b !important; /* rojo marca */
  border-radius: 999px !important;
  margin: 0 !important;
  transition: width 260ms ease, background 260ms ease, transform 260ms ease !important;
}

.prog-swiper .swiper-pagination-bullet-active.prog-bullet {
  width: 34px !important;         /* píldora larga */
  background: #d92e1d !important; /* rojo oscuro marca */
}
