.contenedorData{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            200px, 1fr
        )
    );
    gap: 1rem;
}


.contenedorData article{
    border: 1px solid #ccc;
    padding: 1rem;
    
}