.contenedorHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dividorDeContenido{
    width: 80%;
    margin: 1rem 0;
}


.listadoCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}