.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  width: 100%;
}

.contenedorUsuarios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.cardUser {
  border-radius: 16px;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}